<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<form action="" method="post" >
    <label>Unesite pretragu</label>
    <input type="text">

    <select>
        <option value="Boja">Boja</option>
        <option value="Model">Model</option>
        <option value="Brend">Brend</option>
    </select>
    <button type="submit">Pretrazi</button>
</form>



</body>

</html>